extends base

block meta
    title エラー
    meta(name="robots", content="noindex,follow")

block import
    script(type="text/javascript", src="javascripts/common/backbutton.js")
    script(type="text/javascript").
        $(function(){
            mp.backbuttonControl.init();
            $("#mp-messagearea").append("<p class='mp-errormsg alert alert-danger'>エラーが発生しました</p>");
        });

block content
    .panel.panel-danger
        .panel-heading エラー内容
        .panel-body
            p status: #{status} 
            p #{msg}
            input#mp-backbutton.btn.btn-primary(type="button", value="入力画面へ戻る")
