extends base

block meta
    title 集合駅検索
    meta(name="description", content="複数の駅名を入力して集合場所にちょうど良い駅を検索できます。日本全国の路線情報に対応。飲み会や遊びの待ち合わせ場所を選ぶときに。最寄駅を複数入力するだけで中間地点にある駅を検索できます。")

block import
    script(type="text/javascript", src="javascripts/index.js")
    script(src="vendor/add-to-homescreen-master/src/addtohomescreen.js")
    link(rel="stylesheet", type="text/css", href="vendor/add-to-homescreen-master/style/addtohomescreen.css")
    script(type="text/javascript").
        $(function(){
            mp.indexControl.init();

            // popup for additional homescreen
            addToHomescreen({
                lifespan: 0,
                message: {
                    ios: "集合駅検索をホーム画面に追加するとアプリのように使えます。<br>ここをタップして<strong>ホーム画面に追加</strong>を選択して下さい。",
                    android: "集合駅検索をホーム画面に追加するとアプリのように使えます。<br>ブラウザのオプションメニューから<strong>ホーム画面に追加</strong>を選択して下さい。"
                }
            });
        });

block content
    .panel.panel-primary
        .panel-heading 検索条件
        .panel-body
            p.btn-group
                button#mp-deletebutton.btn.btn-default(type="button", disabled) 出発駅削除
                button#mp-addbutton.btn.btn-default(type="button") 出発駅追加
            form
                #mp-inputgroup
                    .mp-stationform.form-group
                        label 出発駅1
                        input.form-control(type="text",placeholder="駅名（例：新宿）")
                    .mp-stationform.form-group
                        label 出発駅2
                        input.form-control(type="text",placeholder="駅名（例：渋谷）")
                input#mp-searchbutton.btn.btn-primary(type="button", value="検索")
