extends base

block meta
    title お知らせ【集合駅検索】
    meta(name="robots", content="noindex,follow")

block import
    script(type="text/javascript", src="javascripts/common/backbutton.js")
    script(type="text/javascript").
        $(function(){
            mp.backbuttonControl.init();
        });

block content
    .panel.panel-primary
        .panel-heading お知らせ
        .panel-body
            h3 追加・廃止された駅に対応しました。（2023/09/14）
            p
                | いつも集合駅検索をご利用いただきありがとうございます。<br>
                | 追加・廃止された駅に対応しました。

            h3 新しくできた駅に対応しました。（2021/06/21）
            p
                | いつも集合駅検索をご利用いただきありがとうございます。<br>
                | 高輪ゲートウェイなど、新しくできた駅に対応しました。

            h3 検索結果の駅の近くにあるお店を検索できるようになりました。（2019/02/23）
            p
                | いつも集合駅検索をご利用いただきありがとうございます。<br>
                | 検索結果のページから、各駅の近くにあるお店を検索できるようになりました。

            h3 システム構成を大幅に見直しました（2018/07/15）
            p
                | いつも集合駅検索をご利用いただきありがとうございます。<br>
                | おかげさまで当サイトは、年間ページビュー約76万（年間訪問者数：約17万）ほどの利用状況まで成長しました。
            p
                | これからも皆様に快適にご利用いただけるよう、システム構成を大幅に見直しました。<br>
                | これまでは外部サービスに頼った構成となっており、以下のような問題が発生していました。
                ul
                    li 原因不明のエラーが発生することがある
                    li 拡張性/自由度が低い
                | この度の見直しで、外部サービスに頼っていた多くの機能を独自開発し、これらの問題を解消しました。
            p
                | 特に「拡張性/自由度が低い」という点を解消できたため、これから新機能を追加していく予定です。<br>
                | 当サイトは個人で運営しております。<br>
                | 至らぬ点も多々あるかと思いますが、今後とも集合駅検索をよろしくお願いいたします。

            input#mp-backbutton.btn.btn-primary(type="button", value="入力画面へ戻る")
