extends base

block meta
    title お知らせ
    meta(name="robots", content="noindex,follow")

block import
    script(type="text/javascript", src="javascripts/common/backbutton.js")
    script(type="text/javascript").
        $(function(){
            mp.backbuttonControl.init();
        });

block content
    .panel.panel-primary
        .panel-heading お知らせ
        .panel-body
            h3 システム構成を大幅に見直しました（2018/07/15）
            p
                | いつも集合駅検索をご利用いただきありがとうございます。<br>
                | おかげさまで当サイトは、年間ページビュー約7.3万（年間ユーザ数：約1.8万）ほどの利用状況まで成長しました。
            p
                | これからも皆様に快適にご利用いただけるよう、システム構成を大幅に見直しました。<br>
                | これまでは外部サービスに頼った構成となっており、以下のような問題が発生していました。
                ul
                    li 原因不明のエラーが発生することがある
                    li 拡張性/自由度が低い
                | この度の見直しで、外部サービスに頼っていた多くの機能を独自開発し直すことで、これらの問題を解消することができました。
            p
                | 特に「拡張性/自由度が低い」という点を解消できたため、これから新機能を追加していく予定です。<br>
                | 当サイトは個人で運営しております。<br>
                | 至らぬ点も多々あるかと思いますが、今後とも集合駅検索をよろしくお願いいたします。

            input#mp-backbutton.btn.btn-primary(type="button", value="入力画面へ戻る")
