extends base

block meta
    title 候補選択
    meta(name="robots", content="noindex,follow")

block import
    script(type="text/javascript", src="javascripts/inspection.js")
    script(type="text/javascript", src="javascripts/common/backbutton.js")
    script(type="text/javascript").
        $(function(){
            mp.inspectionControl.init();
            mp.backbuttonControl.init();
        });

block content
    .panel.panel-primary
        .panel-heading 選択候補
        .panel-body
            form
                #mp-inputgroup
                    each candidate in candidates
                        .mp-stationform.form-group
                            if candidate.candidateStationNames.length === 1
                                input(value=candidate.candidateStationNames[0], type="hidden")
                            else
                                label #{candidate.userInputStationName}
                                select.form-control
                                    each stationName in candidate.candidateStationNames
                                        option(value=stationName) #{stationName}
                
                .btn-toolbar
                    input#mp-backbutton.btn.btn-primary(type="button", value="入力画面へ戻る")
                    input#mp-searchbutton.btn.btn-primary(type="button", value="検索")